<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.scn.facilis-backup</string>
	<key>Program</key>
	<string>/Users/systeminstaller/scripts/facilis_backup/facilis_backup.sh</string>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardOutPath</key>
	<string>/Users/systeminstaller/Library/Logs/com.scn.facilis-backup/facilis_backup.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/systeminstaller/Library/Logs/com.scn.facilis-backup/facilis_backup.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>0</integer>
		<key>Minute</key>
		<integer>30</integer>
	</dict>
</dict>
</plist>